.moviesContainer {
}

.movie-view {
  font-family: 'Didot', sans-serif;
  margin-top: 50px;
  color: white;
}

.movie-poster {
  text-align: center;
}

.movie-button-div {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}
.movie-button {
  align-items: center;
  margin-top: 20px;

  background-color: #1c2d19;
}

.movie-button-div {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}
.movie-button {
  margin-top: 20px;
  width: 100%;
  background-color: #1c2d19;
}
