.movie-view {
  font-family: 'Didot', sans-serif;
  margin-top: 50px;
  color: white;
}

.movie-poster {
  text-align: center;
}

.movie-description {
  text-align: left;
  margin: 0 auto;
}
.back-button {
  margin-top: 20px;
  width: 100px;
  background-color: #1c2d19;
}

.movie-title {
  font-size: x-large;
}
