* {
  box-sizing: border-box;
}
.registerContainer {
  background: #408e2f;
  width: 100%;
  height: 100vh;
}

.bg-navColor {
  background: #1c2d19;
}

.registerCard {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background: #d8e428;
  color: #1c2d19;
}

.registerButton {
  width: 100%;
  display: block;
}
