* {
  box-sizing: border-box;
}
.loginContainer {
  background: #408e2f;
  width: 100%;
  height: 100vh;
}

.bg-navColor {
  background: #1c2d19;
}

.loginCard {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background: white;
  color: #1c2d19;
}

.loginButton {
  width: 100%;
  display: block;
}
